title mini-parallax Library Demo

link(rel="stylesheet", href="index.styl")

p This is <a href="https://github.com/ko-yelie/mini-parallax">mini-parallax</a> Demo.
p <a href="https://ko-yelie.github.io/mini-parallax/docs/">Docs</a>
p Scroll down.

//- NormalParallax
.box.o-1.js-parallax speed: 0.1
.box.o-2.js-parallax(data-speed="0.03") speed: 0.03
.box.o-3.js-parallax(data-speed="0.3") speed: 0.3
.box.o-4.js-parallax(data-speed="-0.1") speed: -0.1

p.box.o-text.js-text-parallax
  | If the text is in the parallax element, it will blur,
  br
  | so set the <code>isRound</code> option to <code>true</code>.

//- BackgroundParallax
.background.o-1
  img.js-background-parallax(src="https://images.unsplash.com/photo-1446483050676-bd2fdf3ac2d6?ixlib=rb-0.3.5&q=80&fm=jpg&crop=entropy&cs=tinysrgb&w=800&fit=max&ixid=eyJhcHBfaWQiOjE0NTg5fQ&s=257eb0b53f040494c53a2e85ec3d26a7")
.background.o-2
  img.js-background-parallax(src="https://images.unsplash.com/photo-1507053524470-1d571ba2adca?ixlib=rb-0.3.5&q=80&fm=jpg&crop=entropy&cs=tinysrgb&w=800&fit=max&ixid=eyJhcHBfaWQiOjE0NTg5fQ&s=257eb0b53f040494c53a2e85ec3d26a7")

script(src="index.js")
